@font-face
  font-family: "hualife-icon"
  src:
    url("./hualifeic.woff") format("woff"),
    url("./hualifeic.ttf") format("truetype")

[class^="icon-hualife-"], [class*=" icon-hualife-"]
  font-family: "hualife-icon"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.icon-hualife-benefitratio:before {
  content: "\e690";
}

.icon-hualife-benefitorder:before {
  content: "\e624";
}

.icon-hualife-paymentperiod:before {
  content: "\e6ad";
}

.icon-hualife-occupation:before {
  content: "\e610";
}

.icon-hualife-password:before {
  content: "\e603";
}

.icon-hualife-error:before {
  content: "\e736";
}

.icon-hualife-account:before {
  content: "\e60c";
}

.icon-hualife-setup:before {
  content: "\e622";
}

.icon-hualife-edit:before {
  content: "\e6f5";
}

.icon-hualife-member:before {
  content: "\e62f";
}

.icon-hualife-nationality:before {
  content: "\e62b";
}

.icon-hualife-prospectus:before {
  content: "\e941";
}

.icon-hualife-bankcard:before {
  content: "\e60a";
}

.icon-hualife-certificates:before {
  content: "\e68d";
}

.icon-hualife-date:before {
  content: "\e721";
}

.icon-hualife-search:before {
  content: "\e628";
}

.icon-hualife-download:before {
  content: "\e645";
}

.icon-hualife-play:before {
  content: "\e646";
}

.icon-hualife-region:before {
  content: "\e647";
}

.icon-hualife-discount:before {
  content: "\e648";
}

.icon-hualife-notification:before {
  content: "\e649";
}

.icon-hualife-notificationoff:before {
  content: "\e64a";
}

.icon-hualife-phonecall:before {
  content: "\e64b";
}

.icon-hualife-phonecalloff:before {
  content: "\e64c";
}

.icon-hualife-lock:before {
  content: "\e64d";
}

.icon-hualife-unlock:before {
  content: "\e64e";
}

.icon-hualife-et:before {
  content: "\e64f";
}

.icon-hualife-relationship:before {
  content: "\e650";
}

.icon-hualife-filter:before {
  content: "\e651";
}

.icon-hualife-calculator:before {
  content: "\e652";
}

.icon-hualife-image:before {
  content: "\e653";
}

.icon-hualife-email:before {
  content: "\e654";
}

.icon-hualife-copy:before {
  content: "\e655";
}

.icon-hualife-user:before {
  content: "\e656";
}

.icon-hualife-customerservice:before {
  content: "\e657";
}

.icon-hualife-subaccount:before {
  content: "\e658";
}

.icon-hualife-partner:before {
  content: "\e659";
}

.icon-hualife-list:before {
  content: "\e65a";
}

.icon-hualife-international:before {
  content: "\e65b";
}

.icon-hualife-refresh:before {
  content: "\e65c";
}

.icon-hualife-eliminate:before {
  content: "\e65d";
}

.icon-hualife-check:before {
  content: "\e65e";
}

.icon-hualife-close:before {
  content: "\e65f";
}

.icon-hualife-confirm:before {
  content: "\e660";
}

.icon-hualife-forbidden:before {
  content: "\e661";
}

.icon-hualife-forbiddenfilled:before {
  content: "\e662";
}

.icon-hualife-tips:before {
  content: "\e663";
}

.icon-hualife-info:before {
  content: "\e664";
}

.icon-hualife-helpfilled:before {
  content: "\e665";
}

.icon-hualife-help:before {
  content: "\e666";
}

.icon-hualife-caution:before {
  content: "\e667";
}

.icon-hualife-cautionfilled:before {
  content: "\e668";
}

.icon-hualife-like:before {
  content: "\e669";
}

.icon-hualife-likefilled:before {
  content: "\e66a";
}

.icon-hualife-star:before {
  content: "\e66b";
}

.icon-hualife-starfilled:before {
  content: "\e66c";
}

.icon-hualife-arrowup:before {
  content: "\e66d";
}

.icon-hualife-arrowleft:before {
  content: "\e66e";
}

.icon-hualife-arrowdown:before {
  content: "\e66f";
}

.icon-hualife-arrowright:before {
  content: "\e670";
}

.icon-hualife-pagefirst:before {
  content: "\e671";
}

.icon-hualife-down:before {
  content: "\e672";
}

.icon-hualife-top:before {
  content: "\e673";
}

.icon-hualife-last:before {
  content: "\e674";
}

.icon-hualife-turningleft:before {
  content: "\e675";
}

.icon-hualife-turningright:before {
  content: "\e676";
}

.icon-hualife-showless:before {
  content: "\e677";
}

.icon-hualife-showmore:before {
  content: "\e678";
}

.icon-hualife-socialfb:before {
  content: "\e679";
}

.icon-hualife-sociallinkedin:before {
  content: "\e67a";
}

.icon-hualife-socialsina:before {
  content: "\e67b";
}

.icon-hualife-socialgoogle:before {
  content: "\e67c";
}

.icon-hualife-socialnaver:before {
  content: "\e67d";
}

.icon-hualife-socialstackflow:before {
  content: "\e67e";
}

.icon-hualife-socialyoutube:before {
  content: "\e67f";
}

.icon-hualife-socialgithub:before {
  content: "\e680";
}

.icon-hualife-socialtwitter:before {
  content: "\e681";
}

.icon-hualife-applets:before {
  content: "\e682";
}

.icon-hualife-wechat:before {
  content: "\e683";
}

.icon-hualife-serverfault:before {
  content: "\e684";
}

.icon-hualife-balance:before {
  content: "\e685";
}

.icon-hualife-link:before {
  content: "\e686";
}

.icon-hualife-benefits:before {
  content: "\e687";
}

.icon-hualife-dingtalk:before {
  content: "\e688";
}

.icon-hualife-alipay:before {
  content: "\e689";
}

.icon-hualife-taobao:before {
  content: "\e68a";
}

.icon-hualife-onesix:before {
  content: "\e68b";
}

.icon-hualife-visible:before {
  content: "\e633";
}

.icon-hualife-invisible:before {
  content: "\e634";
}

.icon-hualife-message:before {
  content: "\e635";
}

.icon-hualife-messageunread:before {
  content: "\e636";
}

.icon-hualife-record:before {
  content: "\e637";
}

.icon-hualife-time:before {
  content: "\e638";
}

.icon-hualife-credits:before {
  content: "\e639";
}

.icon-hualife-renew:before {
  content: "\e63a";
}

.icon-hualife-order:before {
  content: "\e63b";
}

.icon-hualife-orderunread:before {
  content: "\e63c";
}

.icon-hualife-cartempty:before {
  content: "\e63d";
}

.icon-hualife-cart:before {
  content: "\e63e";
}

.icon-hualife-searchtwo:before {
  content: "\e63f";
}

.icon-hualife-edittwo:before {
  content: "\e640";
}

.icon-hualife-linktwo:before {
  content: "\e641";
}

.icon-hualife-share:before {
  content: "\e642";
}

.icon-hualife-setting:before {
  content: "\e643";
}

.icon-hualife-upload:before {
  content: "\e644";
}

