@font-face
  font-family: "lan-icon"
  src:
    url("./lanic.woff") format("woff"),
    url("./lanic.ttf") format("truetype")

[class^="icon-lan-"], [class*=" icon-lan-"]
  font-family: "lan-icon"!important
  font-size: 100%
  font-style: normal

.icon-lan-collection-filled:before {
  content: "\e614";
}

.icon-lan-camera:before {
  content: "\e605";
}

.icon-lan-camera-filled:before {
  content: "\e600";
}

.icon-lan-comment:before {
  content: "\e68c";
}

.icon-lan-collection:before {
  content: "\e602";
}

.icon-lan-speech:before {
  content: "\e60b";
}

.icon-lan-qrcode:before {
  content: "\e71e";
}

.icon-lan-folder:before {
  content: "\e693";
}

.icon-lan-signin:before {
  content: "\e6f0";
}

.icon-lan-reply:before {
  content: "\e717";
}

.icon-lan-comment-filled:before {
  content: "\e763";
}

.icon-lan-signout:before {
  content: "\e797";
}

.icon-lan-history:before {
  content: "\e617";
}

.icon-lan-open:before {
  content: "\e734";
}

.icon-lan-delete:before {
  content: "\e608";
}

.icon-lan-reduce:before {
  content: "\e609";
}

.icon-lan-speech-filled:before {
  content: "\e68e";
}

.icon-lan-fabulous:before {
  content: "\e62c";
}

.icon-lan-load:before {
  content: "\e68f";
}

.icon-lan-add:before {
  content: "\e620";
}

.icon-lan-occupation:before {
  content: "\e6ae";
}

.icon-lan-benefitratio:before {
  content: "\e690";
}

.icon-lan-benefitorder:before {
  content: "\e624";
}

.icon-lan-paymentperiod:before {
  content: "\e6ad";
}

.icon-lan-password:before {
  content: "\e603";
}

.icon-lan-error:before {
  content: "\e736";
}

.icon-lan-account:before {
  content: "\e60c";
}

.icon-lan-setup:before {
  content: "\e622";
}

.icon-lan-edit:before {
  content: "\e6f5";
}

.icon-lan-member:before {
  content: "\e62f";
}

.icon-lan-nationality:before {
  content: "\e62b";
}

.icon-lan-prospectus:before {
  content: "\e941";
}

.icon-lan-bankcard:before {
  content: "\e60a";
}

.icon-lan-certificates:before {
  content: "\e68d";
}

.icon-lan-date:before {
  content: "\e721";
}

.icon-lan-search:before {
  content: "\e628";
}

.icon-lan-download:before {
  content: "\e645";
}

.icon-lan-play:before {
  content: "\e646";
}

.icon-lan-region:before {
  content: "\e647";
}

.icon-lan-discount:before {
  content: "\e648";
}

.icon-lan-notification:before {
  content: "\e649";
}

.icon-lan-notificationoff:before {
  content: "\e64a";
}

.icon-lan-phonecall:before {
  content: "\e64b";
}

.icon-lan-phonecalloff:before {
  content: "\e64c";
}

.icon-lan-lock:before {
  content: "\e64d";
}

.icon-lan-unlock:before {
  content: "\e64e";
}

.icon-lan-et:before {
  content: "\e64f";
}

.icon-lan-relationship:before {
  content: "\e650";
}

.icon-lan-filter:before {
  content: "\e651";
}

.icon-lan-calculator:before {
  content: "\e652";
}

.icon-lan-image:before {
  content: "\e653";
}

.icon-lan-email:before {
  content: "\e654";
}

.icon-lan-copy:before {
  content: "\e655";
}

.icon-lan-user:before {
  content: "\e656";
}

.icon-lan-customerservice:before {
  content: "\e657";
}

.icon-lan-subaccount:before {
  content: "\e658";
}

.icon-lan-partner:before {
  content: "\e659";
}

.icon-lan-list:before {
  content: "\e65a";
}

.icon-lan-international:before {
  content: "\e65b";
}

.icon-lan-refresh:before {
  content: "\e65c";
}

.icon-lan-eliminate:before {
  content: "\e65d";
}

.icon-lan-check:before {
  content: "\e65e";
}

.icon-lan-close:before {
  content: "\e65f";
}

.icon-lan-confirm:before {
  content: "\e660";
}

.icon-lan-forbidden:before {
  content: "\e661";
}

.icon-lan-forbiddenfilled:before {
  content: "\e662";
}

.icon-lan-tips:before {
  content: "\e663";
}

.icon-lan-info:before {
  content: "\e664";
}

.icon-lan-helpfilled:before {
  content: "\e665";
}

.icon-lan-help:before {
  content: "\e666";
}

.icon-lan-caution:before {
  content: "\e667";
}

.icon-lan-cautionfilled:before {
  content: "\e668";
}

.icon-lan-like:before {
  content: "\e669";
}

.icon-lan-likefilled:before {
  content: "\e66a";
}

.icon-lan-star:before {
  content: "\e66b";
}

.icon-lan-starfilled:before {
  content: "\e66c";
}

.icon-lan-arrowup:before {
  content: "\e66d";
}

.icon-lan-arrowleft:before {
  content: "\e66e";
}

.icon-lan-arrowdown:before {
  content: "\e66f";
}

.icon-lan-arrowright:before {
  content: "\e670";
}

.icon-lan-pagefirst:before {
  content: "\e671";
}

.icon-lan-down:before {
  content: "\e672";
}

.icon-lan-top:before {
  content: "\e673";
}

.icon-lan-last:before {
  content: "\e674";
}

.icon-lan-turningleft:before {
  content: "\e675";
}

.icon-lan-turningright:before {
  content: "\e676";
}

.icon-lan-showless:before {
  content: "\e677";
}

.icon-lan-showmore:before {
  content: "\e678";
}

.icon-lan-socialfb:before {
  content: "\e679";
}

.icon-lan-sociallinkedin:before {
  content: "\e67a";
}

.icon-lan-socialsina:before {
  content: "\e67b";
}

.icon-lan-socialgoogle:before {
  content: "\e67c";
}

.icon-lan-socialnaver:before {
  content: "\e67d";
}

.icon-lan-socialstackflow:before {
  content: "\e67e";
}

.icon-lan-socialyoutube:before {
  content: "\e67f";
}

.icon-lan-socialgithub:before {
  content: "\e680";
}

.icon-lan-socialtwitter:before {
  content: "\e681";
}

.icon-lan-applets:before {
  content: "\e682";
}

.icon-lan-wechat:before {
  content: "\e683";
}

.icon-lan-serverfault:before {
  content: "\e684";
}

.icon-lan-balance:before {
  content: "\e685";
}

.icon-lan-link:before {
  content: "\e686";
}

.icon-lan-benefits:before {
  content: "\e687";
}

.icon-lan-dingtalk:before {
  content: "\e688";
}

.icon-lan-alipay:before {
  content: "\e689";
}

.icon-lan-taobao:before {
  content: "\e68a";
}

.icon-lan-onesix:before {
  content: "\e68b";
}

.icon-lan-visible:before {
  content: "\e633";
}

.icon-lan-invisible:before {
  content: "\e634";
}

.icon-lan-message:before {
  content: "\e635";
}

.icon-lan-messageunread:before {
  content: "\e636";
}

.icon-lan-record:before {
  content: "\e637";
}

.icon-lan-time:before {
  content: "\e638";
}

.icon-lan-credits:before {
  content: "\e639";
}

.icon-lan-renew:before {
  content: "\e63a";
}

.icon-lan-order:before {
  content: "\e63b";
}

.icon-lan-orderunread:before {
  content: "\e63c";
}

.icon-lan-cartempty:before {
  content: "\e63d";
}

.icon-lan-cart:before {
  content: "\e63e";
}

.icon-lan-searchtwo:before {
  content: "\e63f";
}

.icon-lan-edittwo:before {
  content: "\e640";
}

.icon-lan-linktwo:before {
  content: "\e641";
}

.icon-lan-share:before {
  content: "\e642";
}

.icon-lan-setting:before {
  content: "\e643";
}

.icon-lan-upload:before {
  content: "\e644";
}

