/**公共样式**/
/**
*** 下拉选择的样式（银行，证件类型，国籍/地区，所在地区，开户行所在省市）
**/
$color-light-grey-s
  background: #fff;
.hx-select
  margin: 0 30px;
  line-height: 50px;
  font-size: 16px;
  color: $color-dark-grey;
  overflow: hidden
  .hx-select-wrap
    border-bottom: 1px solid #eee;
  .hx-select-title
    float: left;
    width: 112px;
    font-size: 16px;
    text-align: left;
  i
    float: right;
    color: #1890FF;
    font-size:22px;
    vertical-align: middle;
  input
    outline: none 
  input::placeholder,
  .main-info-init
    color: $color-light-grey-s
  .main-info-selected
    color: #333
  .select-main-info
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    input
      float: left;
      width: 166px;
      height: 50px;
      line-height: 50px;
  &[data-pos="right"]
    .main-info-selected,
    .select-main-info
    .main-info-init
      text-align: right
.hx-select-disabled,
.hx-select-disabled i, 
.hx-select-disabled input, 
.hx-select-disabled .main-info-selected, 
.hx-select-disabled input::-webkit-input-placeholder
  color: $color-light-grey-s
.cube-validator-msg
  line-height: 34px
  text-align: left
  .cube-validator-msg-def
    color: #D81E06
    font-size: 12px