// color vars
////blue
$color-blue = #1890ff
$color-light-blue-opacity = #f9fdff
$color-grey = #4c4c4c
$color-light-grey-s = #ccc
$color-light-grey-ss = #fff
$color-light-grey-sss =  #efefef

//validator
$validator-msg-def-color := #D81E06